.nav-wrapper{
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
}

.logo {
    display: flex;
    max-width: 100%;
    height: auto;
}

.search-bar {  
    float: left;  
    }  
    input[type=text] {  
    padding: 6px;  
    margin-top: 8px;  
    font-size: 17px;  
    border: none;  
    }  
    .searchbox button {  
      
    padding: 8px;  
    margin-top: 10px;  
    margin-left: 10px;  
    background: orange;  
    font-size: 20px;  
    border: none;  
    cursor: pointer;  
    }  
    .searchbox button:hover {  
    background: blue;  
    }  
