root{
    --dBlue: #1D3557;
    --mBlue: #45769D;
    --lBlue: #A8DADC;
    --white: #F1FAEE;
    --red:   #E63946;
}
.nav-wrapper{
    display: flex;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
}

body {
    /* background-color: #BDBDBD; */
    background-image: url(https://cdn.pixabay.com/photo/2015/02/15/09/33/news-636978_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


main{
    margin: 2%;
}
.logo {
    display: flex;
    max-width: 100%;
    height: auto;
}
 input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    }
    .search-bar button {
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(255, 13, 0);
    font-size: 20px;
    border: none;
    cursor: pointer;
    }
    .search-bar button:hover {
    background: blue;
    }
.row {
    font-size: 18px;
}
#paper-boy {
    padding-top: 1%;
}
.history-btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0.5rem;
    width: 100%;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: white;
    background-color: rgb(6, 202, 202);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  #paper-boy {
    padding-top: 1%;
    opacity: 90%;
}